.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@keyframes oscillate {
  0% {
    transform: translateY(0);
    color: #c1d7ff;
  }
  10%{
    color: #282c34;
  }
  30%{
    color: aqua;
  }
  50% {
    transform: translateY(200px) rotate(20deg) scale(80%) skewX(80deg) ;
    color: #2fff0f;
  
  }
  65%{
    color: #d518ff;
  }
  80%{
    color: aqua;
  }
  100% {
    transform: translateY(0) rotate(-20deg) scale(150%);
    color: #ff0000;
  }
}
@keyframes hostile{
  0%{
    background-color: #000000;
  }
  33%{
    background-color: rgb(248, 255, 226);
  }
  66%{
    background-color: rgb(43, 0, 57);
  }
  100%{
    background-color: white;
  }
}
@keyframes altoscillate {
  0% {
    transform: translateX(-100px);
    background-color: #f41ef8;
  }
  30%{
    background-color: #c1d7ff;
  }
  31%{
    background-color: #000000;
  }
  32%{
    background-color: #2fff0f;
  }
  50% {
    transform: translateX(200px) rotate(200deg) scale(5%) skewX(-360deg) skewY(36deg);
    background-color: #ff0000;
  
  }
  100% {
    transform: translateX(-100px) rotate(-200deg) scale(120%);
    background-color: #d518ff;
  }
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}
body{
  animation: hostile infinite 0.1s;
}
.App-header {
  animation: oscillate 1s infinite;
  
  animation-direction: alternate;
  background-color: #282c34;
  display: flex;
  height: 19vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
#main-content{
  border-radius: 50%;
  animation: altoscillate infinite 6s ;
  animation-direction: alternate;
  height: 78vh;
  display: flex;
  justify-content: center;
  
}
#interests{
  animation: oscillate 1s ease-in-out infinite;
  animation: App-logo-spin infinite 3s ;
  animation-direction: alternate;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin: auto;
  width: 300px;
}
.interest-box{
  border-radius: 50px;
  animation: App-logo-spin infinite 2s ;
  animation-direction: alternate;
}
#foot{
  animation: oscillate  infinite 1s;
  animation-direction: reverse;
  min-height:3vh
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg)   scale(10%)  translateX(-100px) translateY(-100px) skewX(20deg);
  }
  to {
    transform: rotate(360deg) scale(300%) translateX(100px)  translateY(100px)  skewY(30deg);
  }
}
